@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap');

body{
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #b1f7f3;

}


.titulo{

    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 60px;
    text-align: center;
    

}



.txt-lanc{

  margin-top:20px;
  margin-bottom: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;


}

.txt-nos{
  background-color: #3965f5;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;
  color: #d8eaee;
  border-radius: 20px;


}

.card-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;

}

.card-text{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;

}


.button {
  text-transform: uppercase;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: #d8eaee;
  color: #3965f5;
  border: 1px solid #d8eaee;
   margin-bottom: 5px;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size:20px;
}

.button:hover {
  background-color:  white;
  color: #d8eaee;
  border: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}



.card {
  gap: 15px;
  border-color: #3965f5;
  color: #d8eaee;
  
}



@media (min-width: 1280px) {
  .button {
    display: inline-block;
    margin-left: 5px;
    margin: 0;
    width: auto;
  }
 
}




.login{
margin: 50px 300px 00px 300px;
background-color: #3965f5;
display: block;
padding: 40px;
border-radius: 40px;
color: #d8eaee;
margin-top:50px;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 30px;
text-align: center;
}


.form-control{

    background-color: #d8eaee;
    margin-top: 20px;


}

#footer {
  margin-top: 10px;
   background-color: #3965f5;
 text-align: center;
 height: 100%;
}

.txt-footer{ 
display: inline-block;
color: white;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 20px;

  
}
